h2 {
  font-size: 25x;
  color: #0462af;
  font-family: Georgia; }

p {
  font-size: 18px;
  color: gray;
  font-family: Arial; }

.parrafo_top {
  color: black; }

.navbar-brand {
  width: 20px;
  height: 80px; }
  .navbar-brand .logo_jg {
    height: 80;
    border-radius: 10px; }

.navbar-nav .nav-item .nav-link {
  color: black; }

nav {
  background-color: rgba(8, 192, 238, 0.752);
  margin-bottom: 200px; }
  nav ul {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    nav ul .dropdown-menu {
      background-color: rgba(211, 211, 211, 0.637); }

.logo_jg {
  height: 80px;
  width: 100px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.carousel-innerm {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; }

.titulos_inicio {
  color: seagreen;
  border-top: 1px solid gray;
  padding: 20px; }

.parrafo_inicio {
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.logo_inicio {
  width: 50px; }

.segunda_section {
  text-align: center; }

.container_trabajos {
  background-color: rgba(11, 146, 29, 0.461); }
  .container_trabajos .main_logos {
    padding: 20px; }
    .container_trabajos .main_logos article .logo_inicio {
      transition: all 440ms ease; }
    .container_trabajos .main_logos article:hover {
      box-shadow: 5px 5px 20px #050505;
      transform: translateY(-1%); }

.titulos_logo {
  color: black;
  height: 5px;
  padding: 5px; }

.img_asesoramiento {
  width: 90%; }

.titulos_trabajos {
  color: white;
  text-shadow: 2px 2px black;
  padding: 10 px; }

.logo_inspeccion {
  width: 60px;
  padding: 10px; }

.logo_desinfeccion {
  width: 60px;
  padding: 10px; }

.logo_profesional {
  width: 60px;
  padding: 10px; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border-top: solid 1px black;
  text-align: center; }

.logo_footer {
  width: 40px;
  height: 40px;
  padding: 10px; }

.parrafo_footer {
  font-size: 12px; }

.d-block {
  margin-top: 100px; }

.container {
  color: gray; }

.container-plaga {
  margin: 150px 50px;
  text-align: center;
  font-size: 15px; }

.titulo_principal_plagas {
  color: #050505;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .titulo_principal_plagas .parrafo_principal_plagas {
    padding: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; }

.parrafo_plagas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black; }

.titulo_plagas {
  color: seagreen; }

.subtitulos_plagas {
  color: seagreen; }
  .subtitulos_plagas .parrafo_plagas {
    color: black;
    font-family: Arial, Helvetica, sans-serif; }

.tercera_section {
  background-color: rgba(21, 180, 42, 0.829);
  text-align: center; }
  .tercera_section .parrafo_tercera_section {
    font-size: 30px;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px black; }

.card-title {
  color: black; }

.card_control-plagas .title_card {
  color: blue;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.card_control-plagas .card-text {
  height: 250px;
  color: black;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.garantia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid gray;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; }

.logo_garantia {
  width: 100px;
  height: 100px;
  padding: 10px; }

.mensaje {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.titulo_contacto {
  color: rgba(7, 162, 7, 0.739);
  text-align: center;
  padding: 15px; }

.imagen_contacto {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 100px; }

.logo_contacto {
  width: 20px;
  height: 20px; }

.informacion {
  padding: 20px;
  margin: 20px; }

.subtitulo_contacto {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.container_form {
  background-color: white; }

.container_aside {
  text-align: center;
  background-color: rgba(35, 34, 34, 0.983);
  color: #eeeeee; }
  .container_aside .row .informacion h6 .parrafo_contacto {
    color: white;
    font-size: 15px; }

.container_empresa {
  margin: 30px; }
  .container_empresa .parrafo_empresa {
    margin: 10px;
    color: #da0000;
    font-size: 15px;
    padding: 10px; }

.parrafo_uno {
  color: #070707;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-right: solid 0.5px gray;
  padding: 15px;
  text-align: center; }

.parrafo_dos {
  padding: 15px;
  color: #080808;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  border-left: solid 0.5px gray;
  text-align: center; }

.parrafo_tres {
  color: black;
  font-size: 15px; }

.logos_empresa {
  width: 60px;
  height: 60px; }

.garantia {
  background-color: rgba(11, 146, 29, 0.461); }
  .garantia .logo_garantia {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 25%; }
  .garantia .parrafo_calidad {
    color: #010101;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px #100f0f; }

.container_historia {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.087); }

.titulo_empresa {
  margin-top: 100px;
  text-align: center;
  color: seagreen; }

.card-img-top {
  height: auto;
  width: auto; }

.card {
  transition: all 440ms ease; }
  .card:hover {
    box-shadow: 5px 5px 20px #050505;
    transform: translateY(-3%); }

.container_cards {
  margin: 30px; }

.cards {
  background-color: seagreen; }

.titulo_servicio {
  text-align: center; }

.card_plagas {
  height: 187px; }

.container_tanques {
  margin: 50px 50px 100px; }

.titulo_tanque {
  margin-top: 150px;
  text-align: center; }
  .titulo_tanque h2 {
    color: seagreen;
    border-bottom: solid 1px gray; }

.subtitulos_tanques {
  color: black;
  padding: 15px; }

.d-grid {
  width: 100%;
  transition: all 440ms ease;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif; }

.d-grid :hover {
  width: 100%;
  box-shadow: 2px 2px 20px #8d0909;
  transform: translateY(5%); }

.parrafo_tanques {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px; }

.container_fumigacion {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.087);
  font-family: Arial, Helvetica, sans-serif; }

.titulo_fumigacion {
  text-align: center;
  padding: 10px;
  color: seagreen; }

.subtitulos_fumigacion {
  color: seagreen;
  padding: 10px;
  width: auto;
  text-align: center; }

.parrafo_fumigacion {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; }

.container_empresas {
  margin: 50px;
  width: auto;
  background-color: rgba(200, 191, 191, 0.261);
  border-radius: 20%;
  background-color: honeydew; }

.logo_empresas {
  width: 100px;
  height: 100px;
  padding: 20px;
  width: auto; }

h2 {
  font-size: 25x;
  color: #0462af;
  font-family: Georgia; }

p {
  font-size: 18px;
  color: gray;
  font-family: Arial; }

.img {
  width: 100%; }

.img_asesoramiento {
  width: 90%;
  text-align: center;
  box-shadow: 5px 5px 20px #050505;
  margin-top: 100px; }

.img_desinfeccion {
  width: 90%;
  text-align: center;
  box-shadow: 5px 5px 20px #050505; }

.img_historia {
  width: 90%;
  text-align: center;
  box-shadow: 5px 5px 20px #050505;
  margin-left: 30px; }

.img_fumigacion {
  width: 80%;
  height: 250px;
  margin-left: 60px;
  margin-top: 30px;
  box-shadow: 5px 5px 20px #050505; }

.img_tanques {
  width: 100%;
  box-shadow: 5px 5px 20px black; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.body_error {
  overflow: hidden; }
  .body_error .error {
    background-color: #484747;
    padding: 10px;
    color: #f31212;
    font-family: 'Courier New', Courier, monospace; }
    .body_error .error p {
      color: white;
      font-family: 'Courier New', Courier, monospace; }
      .body_error .error p .logo_mantenimiento {
        width: 50px;
        height: 50px; }

.img_error {
  width: 100%;
  height: 100vh; }
