nav {
  background-color: #778a76;
  height: 100%;
  margin-bottom: 5px; }
  nav ul {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  nav .logo_jg {
    height: 80px;
    border: solid 2px gray; }

.parrafo_inicio {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.footer {
  text-align: center;
  border-top: solid 1px gray; }
  .footer .parrafo_footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray; }

.carousel slide {
  border: solid 2px red; }

.alturaCarruosel {
  height: 200px; }

.container {
  color: gray; }

.titulo_principal_plagas {
  color: #050505;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.parrafo_principal_plagas {
  padding: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.parrafo_plagas {
  padding: 20px;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.titulos_plagas {
  color: blue; }
