nav {
  background-color: white;
  height: 100%;
  margin-bottom: 5px; }
  nav ul {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    nav ul .dropdown-menu {
      background-color: #086880; }
  nav .logo_jg {
    height: 80px;
    border: solid 2px gray; }

.top_nav {
  background-color: #0471a3;
  display: flex;
  justify-content: space-between;
  padding: 5px; }
  .top_nav p {
    text-align: center;
    font-size: 15px; }

.reloj {
  width: 30px;
  height: 30px;
  padding: 5px; }

.instagram {
  width: 30px;
  height: 30px;
  padding: 5px; }

.telefono {
  width: 30px;
  height: 30px;
  padding: 5px; }

.titulos_inicio {
  color: black;
  border-top: 1px solid gray;
  padding: 20px; }
  .titulos_inicio .parrafo_inicio {
    color: #474747;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; }

.logo_inicio {
  width: 50px; }

.segunda_section {
  text-align: center; }

.subtitulos {
  color: black; }

.footer {
  text-align: center;
  background-color: gray; }
  .footer .parrafo_footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cfcdcd;
    padding: 15px; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh; }

.container {
  color: gray; }

.titulo_principal_plagas {
  color: #050505;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.parrafo_principal_plagas {
  padding: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.parrafo_plagas {
  padding: 20px;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.titulos_plagas {
  color: blue; }

.mensaje {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
.container_servicios{
  background-color: #0471a3;
}
.logos_empresa{
  width: 60px;
  height: 60px;
}

.garantia{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px black;
  
}

.logo_garantia{
  width: 100px;
  height: 100px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}