h2 {
  font-size: 25x;
  color: #0462af;
  font-family: Georgia; }

p {
  font-size: 18px;
  color: gray;
  font-family: Arial; }

.top_nav {
  background-color: #0044ff; }

nav {
  height: 100%;
  margin-bottom: 5px;
  border-bottom: solid 1px #747474; }
  nav ul {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    nav ul .dropdown-menu {
      background-color: aqua; }

.logo_jg {
  height: 80px;
  width: 100px; }

.top_nav {
  display: flex;
  justify-content: space-between;
  padding: 5px; }
  .top_nav p {
    text-align: center;
    font-size: 15px; }

.reloj {
  width: 30px;
  height: 30px;
  padding: 5px; }

.instagram {
  width: 30px;
  height: 30px;
  padding: 5px; }

.telefono {
  width: 30px;
  height: 30px;
  padding: 5px; }

.carousel-innerm {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; }

.titulos_inicio {
  color: black;
  border-top: 1px solid gray;
  padding: 20px; }

.parrafo_inicio {
  color: #8a8282;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.logo_inicio {
  width: 50px; }

.segunda_section {
  text-align: center; }

.subtitulos {
  color: black; }

.footer {
  text-align: center;
  background-color: #d1d1d1;
  width: 100%; }
  .footer .parrafo_footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    padding: 15px;
    font-size: 12px; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh; }

.container {
  color: gray; }

.titulo_principal_plagas {
  color: #050505;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .titulo_principal_plagas .parrafo_principal_plagas {
    padding: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.parrafo_plagas {
  padding: 20px;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.titulos_plagas {
  color: blue; }

.subtitulos_plagas {
  color: black; }

.tercera_section {
  background-color: rgba(21, 180, 42, 0.829);
  text-align: center; }
  .tercera_section .parrafo_tercera_section {
    font-size: 30px;
    padding: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.card-title {
  color: black; }

.garantia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid gray;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; }

.logo_garantia {
  width: 100px;
  height: 100px;
  padding: 10px; }

.mensaje {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.imagen_contacto {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh; }

.logo_contacto {
  width: 20px;
  height: 20px; }

.informacion {
  padding: 20px;
  margin: 20px; }

.subtitulo_contacto {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.parrafo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px; }

.logos_empresa {
  width: 60px;
  height: 60px; }

.logo_garantia {
  width: 100px;
  height: 100px;
  padding: 10px; }

.subtitulos_tanques {
  color: black; }

.titulo_fumigacion {
  text-align: center;
  padding: 10px;
  color: black; }

.subtitulos_fumigacion {
  color: black; }

h2 {
  font-size: 25x;
  color: #0462af;
  font-family: Georgia; }

p {
  font-size: 18px;
  color: gray;
  font-family: Arial; }
