
// MIXINS====
@mixin text($font-size,$color,$font-family) {
    font-size: $font-size;
    color: $color;
    font-family: $font-family;
}

h2{
    @include text(25x,rgb(4, 98, 175),Georgia )
}
    
p{
    @include text(18px,gray ,Arial)
}
// MAP===
$paleta:(
    'uno':rgb(63, 178, 231),
    'dos':rgb(182, 182, 182),
    'tres':15px,
);

