
.titulo_principal_plagas{
    color: rgb(5, 5, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parrafo_principal_plagas{
    padding: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parrafo_plagas{
    padding: 20px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulos_plagas{
    color: blue;
}

