.parrafo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.logos_empresa{
    width: 60px;
    height: 60px;
  }
  
  
  .logo_garantia{
    width: 100px;
    height: 100px;
    padding: 10px;
  }

  