.container_empresa{
  margin: 30px;
  background-color: rgba(128, 128, 128, 0.068);

  .parrafo_empresa{
      margin: 10px;
      color: black;
      font-size: 15px;
      padding: 10px;
    }
}



  
   
    



.parrafo_empresa{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.logos_empresa{
    width: 60px;
    height: 60px;
  }
  
  .garantia{
    background-color: rgba(11, 146, 29, 0.461);
    .logo_garantia{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 25%;
  }
  .parrafo_calidad{
    color: rgb(1, 1, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px rgb(239, 237, 237);
    }
  }
  
.container_historia{
  background-color:rgba(128, 128, 128, 0.22);
  margin: 20px;
}

  .titulo_empresa{
    margin-top: 100px;
    text-align: center;
    color: seagreen;
    
  }
  
  .card-img-top{
    height: auto;
    width: auto;
  }

  .card{
    transition: all 440ms ease;

     &:hover{
    box-shadow: 5px 5px 20px rgb(5, 5, 5);
    transform: translateY(-3%);
  }
  }

  

  .container_cards{
    margin: 30px;
    
  }
  .cards{
      background-color: seagreen;
    }
.titulo_servicio{
  text-align: center;
}
