.footer{
    text-align: center;
    border-top: solid 1px gray;

    .parrafo_footer{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray
    }
}
 
