

.footer{
    text-align: center;
    background-color: map-get($map: $paleta, $key:dos);
    width: 100%;
    .parrafo_footer{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #070707;
        padding: 15px;
        font-size: 12px;
    }
}

 
