
@import"_footer.scss";
.footer{
    text-align: center;
    background-color: $color-secondary;
    .parrafo_footer{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #cfcdcd;
        padding: 15px;
    }
}

 
