.container_fumigacion{
margin-top: 100px;
}

.titulo_fumigacion{
 text-align: center;
 padding: 10px;
 color: seagreen;
}
.subtitulos_fumigacion{
    color: seagreen; 
    padding: 10px;
    width: auto;
    text-align: center
    
}
.parrafo_fumigacion{
    color: black;
}
.container_empresas{
    margin: 50px;
    width: auto;
    background-color: rgba(200, 191, 191, 0.261);
    border-radius: 20%;
    
}
.logo_empresas{
    width: 100px;
    height: 100px;
    padding: 20px;
    width: auto;
}