.img{
    width: 100%; 
  
}
.img_asesoramiento{
    width: 90%;
    text-align: center;
      box-shadow: 5px 5px 20px rgb(5, 5, 5);
      margin-top: 100px;
}
.img_desinfeccion{
    width: 90%;
    text-align: center;
      box-shadow: 5px 5px 20px rgb(5, 5, 5);
}

.img_historia{
  width: 90%;
    text-align: center;
    box-shadow: 5px 5px 20px rgb(5, 5, 5);
    margin-left: 30px;
}
.img_fumigacion{
  width: 90%;
  height: 250px;
  margin-left: 30px;
   box-shadow: 5px 5px 20px rgb(5, 5, 5);
}

.img_tanques{
  width: 100%;
  box-shadow: 5px 5px 20px black;
}