.img{
    width: 100%; 
  
    margin: 20px;
    height: 100%;
}
.img_asesoramiento{
    width: 90%;
    text-align: center;
      box-shadow: 5px 5px 20px rgb(5, 5, 5);
      margin-top: 100px;
}
.img_desinfeccion{
    width: 90%;
    text-align: center;
      box-shadow: 5px 5px 20px rgb(5, 5, 5);
}
