  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

// EMPIEZA CARROUSEL


.carousel-innerm {
  position: relative;
   overflow: hidden;
   width: 100%;
   height: 100vh;
}

// CIERRA CARROUSEL

// EMPIEZA 1RA SECTION============================
.titulos_inicio {
  color: seagreen;
  border-top: 1px solid gray;
  padding: 20px;
  

  
}
.parrafo_inicio{
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo_inicio {
  width: 50px;
}



// EMPIEZA 2DA SECTION=======================================

.segunda_section {
  text-align: center;
}


.container_trabajos{
  background-color: rgba(11, 146, 29, 0.461);
 
  .main_logos{
    padding: 20px;
   
    article{
      
      .logo_inicio{
           transition: all 440ms ease;
      }
       &:hover{
        box-shadow: 5px 5px 20px rgb(5, 5, 5);
      transform: translateY(-1%);
      }
       
      }
    }
  }

.titulos_logo{
  color: black;
  height: 5px;
  padding: 5px;
  
}

.img_asesoramiento{
  width: 90%;
}
.titulos_trabajos{
  color: white;
  text-shadow: 2px 2px black;
  padding: 10 px;
}
.logo_inspeccion{
  width: 100px;
  padding: 10px;
}
.logo_desinfeccion{
  width: 90px;
  padding: 10px;
}
.logo_profesional{
  width: 90px;
  padding: 10px;
}