  
  
.top_nav {

  display: flex;
  justify-content: space-between;
  padding: 5px;
  p {
    text-align: center;
    font-size: 15px;
  }
}
.reloj {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.instagram {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.telefono {
  width: 30px;
  height: 30px;
  padding: 5px;
}



// EMPIEZA CARROUSEL

.carousel-innerm {
  position: relative;
   overflow: hidden;
   width: 100%;
   height: 100vh;
}

// CIERRA CARROUSEL

// EMPIEZA 1RA SECTION============================
.titulos_inicio {
  color: black;
  border-top: 1px solid gray;
  padding: 20px;

  
}
.parrafo_inicio {
    color: rgb(138, 130, 130);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
.logo_inicio {
  width: 50px;
}


// EMPIEZA 2DA SECTION=======================================

.segunda_section {
  text-align: center;
}
.subtitulos {
  color: black;
}
