nav{
    background-color: rgb(119, 138, 118);
     height: 100%;
     margin-bottom: 5px;

    ul{
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .logo_jg{
        height: 80px;
        border: solid 2px gray;
    }
}  

