@import "./commons";

// .top_nav{
//     background-color: map-get($map:$paleta,$key:'uno');
// }
.parrafo_top{
    color: black;
    
}
 .navbar-brand{
     width: 20px;
     height: 80px;
     .logo_jg{
         height: 80;
     border-radius: 10px;
     }
 }
 .navbar-nav{
     .nav-item{
         .nav-link{
             color: black;
         }
     }
 }
 
nav{
     background-color:rgba(8, 192, 238, 0.752);
     margin-bottom: 200px;
      

     
     
     ul{
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        
        .dropdown-menu {
        background-color:rgba(211, 211, 211, 0.637);
        }
    }
    }
    .logo_jg{
       height: 80px;
       width: 100px;
       }
     
      
      