*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.body_error{
    overflow: hidden;

    .error{
    background-color: rgb(72, 71, 71);
    padding: 10px;
    color: rgb(243, 18, 18);
    font-family: 'Courier New', Courier, monospace;
    p{
        color: rgb(255, 255, 255);
        font-family: 'Courier New', Courier, monospace;
        .logo_mantenimiento{
         width: 50px;
         height: 50px;
}
    }
    
}
}


.img_error{
    width: 100%;
    height: 100vh;
}
