.mensaje{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo_contacto{
   color: rgba(7, 162, 7, 0.739);
   text-align: center;
   padding: 15px;
}
.imagen_contacto{
   position: relative;
   overflow: hidden;
   width: 100%;
   margin-top: 100px;
}
.logo_contacto{
   width: 20px;
   height: 20px;
}

.informacion{
   padding: 20px;
   margin: 20px;
}

.subtitulo_contacto{
   color: gray;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container_form{
   background-color: white;
}


.container_aside{
   text-align: center;
   background-color: rgba(35, 34, 34, 0.983);
   color: rgb(238, 238, 238);
   .row{
      .informacion{
         h6{
            .parrafo_contacto{
            color: white ;
            font-size: 15px;
         }
         }
         
      }
   }
}