 @import "_nav.scss";
 @import "_inicio.scss";
 @import "_footer.scss";
 @import "_carrousel.scss";
 @import "_container.scss";
 @import "_control-de-plagas.scss";
 @import "contacto.scss";
 @import"_variables.scss"