
.container{
    border-bottom: solid 1px gray;
}
.titulos{

    color: cornflowerblue;
}
.footer{
    border-top: solid 2px gray;
}

.logo{
    display: flex;
    display: inline-block;
}
.logo{
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    margin-left: 50%;
}

.parrafo_footer{
    color: grey;
    text-align: center;
}
.p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrafo{
    font-family: Arial, Helvetica, sans-serif;
}

.titulos_empresa{
    color: rgb(0, 0, 0);
}

.titulo_fumigacion{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.presupuesto{
    text-align: center;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.presupuesto a{
    color: black;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}

h6 {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
    
}
h6{
    padding: 10px; 
    text-align: center;
    margin-right: 10px;
}