
.container{
    border-bottom: solid 1px gray;
}
.titulos{

    color: cornflowerblue;
}
.footer{
    border-top: solid 2px gray;
}

.logo{
    display: flex;
    display: inline-block;
}
.logo{
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    margin-left: 50%;
}

.parrafo_footer{
    color: grey;
    text-align: center;
}
.p{
    font-family: 'Times New Roman', Times, serif;
}

.parrafo{
    font-family: Arial, Helvetica, sans-serif;
}

.titulos_empresa{
    color: rgb(5, 16, 66);
}

.titulo_fumigacion{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.presupuesto{
    text-align: center;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.presupuesto a{
    color: black;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}

.presupuesto a:hover{
    color: white;
    transition: 0.5s;
}

h6 {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
    
}
h6{
    padding: 10px; 
    text-align: center;
    margin-right: 10px;
}
@keyframes TextAlpha{
    from{opacity: 0}
    to{opacity: 1;}
}

.parrafo {
    animation-name: TextAlpha ;
    animation-duration: 2s;
    animation-timing-function: ease;
}

h2{
    animation-name: TextAlpha ;
    animation-duration: 2s;
    animation-timing-function: ease;
}

p{
    animation-name: TextAlpha ;
    animation-duration: 2s;
    animation-timing-function: ease
}

nav{
    border-bottom: solid 2px gray;
}

.garantia{
    display: flex;
    align-items: center;
}
.parrafo_calidad{
    font-size: 40px;
    color: yellowgreen;
}
.logo_garantia{
    height: 100px;
}

.flex{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    padding: 10px;
    
}
.logo_flex{
    height: 100px;  
}

h6{
    color: white;
}